#pagecolor{
    background-color: #060644;
    font: 13px "Times New Roman", san-serif;
    
}
#center_buttons {
    display: inline-block;
}
#social {
width: auto;
height: 50px;

}
#sportpage {
    font-size: 2em;
}
#admin {
    float: right;
}
#pagename {
    font-size: 3.5em;
    color: gold;
}
#wmpenn {
    height: 300px;
    width: auto;
}
h1 {
    font-size: 3em;
}
#description {
    color: white;
    font-size: 1.5em;
}
.instruction {
    color: gold;
    font-family: sans-serif;
    font-size: 1.5em;
}
.heading {
    color: gold;
}
#socialbottom {
    color: gold;
}
#socialblock {
    margin-bottom: 1;
    margin-left: 1;
}



